.user_circle_green,
.user_circle_idle,
.user_circle_empty {
    border-radius: 50%;
    border: 1px solid;
}

.user_circle_green {
    color: var(--color-user-circle-active);
}

.user_circle_idle {
    color: var(--color-user-circle-idle);
}

.user_circle_empty {
    color: var(--color-user-circle-empty);
}
