.user-circle-active,
.user-circle-idle,
.user-circle-offline {

}

.user_sidebar_entry.with_avatar .user-circle {
    outline: 1px solid var(--color-background);
}

.user-circle-active {
    color: var(--color-user-circle-active);
}

.user-circle-idle {
    color: var(--color-user-circle-idle);
}

.user-circle-offline {
    /* TODO: Should this be --color-user-circle-offline? */
    color: hsl(0deg 0% 50%);
}
