/* TODO: This file should be renamed to `portico_styles.css`
   or something similar, once all portico pages take these
   new, Bootstrap-free styles. */

html,
body {
   margin: 0;
   padding: 0;
   width: 100%;
   font-family: var(--font-ss3);
   background: hsl(209.4deg 40.2% 50.2%);
   color: hsl(0deg 0% 100%);
   -webkit-tap-highlight-color: transparent;
}

body :target {
   /* Keep elements targeted by URL fragments visible below the
   floating top menu; coordinate the value here with the menu's height. */
   scroll-margin-top: 60px;
}

html {
   width: 100vw;
   overflow-x: hidden;
}

body {
   margin: 0;
   background-color: hsl(0deg 0% 100%) !important;
   color: hsl(0deg 0% 27%);
   line-height: normal;

   max-width: 100vw;
}

.top-menu {
    top: 0;
}

.portico-header {
    .portico-header-dropdown {
        position: relative;
        display: inline-block;

        & ul {
            display: none;
            position: absolute;
            right: 0;
            margin: 10px 0 0;
            list-style-type: none;
            width: fit-content;
            background-color: hsl(0deg 0% 100%);
            padding: 5px 0;
            border-radius: 4px;
            border: 1px solid hsl(0deg 0% 87%);
            box-shadow: 0 2px 5px hsl(0deg 0% 0% / 10%);

            &::before {
                content: "\25B2";
                position: absolute;
                top: -4px;
                right: 9px;
                font-size: 0.5em;
                color: hsl(0deg 0% 87%);
                line-height: 0;
                transform: scale(1.8, 1);
            }

            & li {
                display: list-item;
                margin: 0;
                padding: 3px 10px;
                text-align: left;
                opacity: 1;
                cursor: pointer;

                &:hover {
                    background-color: hsl(190deg 10% 90%);
                    transition: none;
                }

                & a {
                    display: block;
                    margin: 2px 0;
                    padding: 0;
                    transition: none;
                    font-size: 0.9em;
                    font-weight: 400;
                    color: hsl(0deg 0% 27%);
                }

                &:hover a {
                    background-color: transparent;
                }

                & a i {
                    margin-right: 5px;
                }
            }

            &.dropdown-list {
                margin-top: 3px;
                margin-right: 3px;
            }
        }

        &.show ul {
            display: block;
        }
    }

    .portico-header-dropdown-pill {
        border: 1px solid hsl(0deg 0% 0% / 20%);
        border-radius: 4px;
        margin-left: 10px;
        font-weight: 400;
        cursor: pointer;

        .realm-name {
            display: inline-block;
            vertical-align: top;
            margin: 0 5px 0 -4px;
            padding: 1px 0 1px 5px;
            font-size: 0.9em;
            font-weight: 600;
            line-height: 1.6;
        }

        .realm-name i.fa {
            position: relative;
            top: -2px;
            font-size: 0.6em;
            margin-left: 5px;
            opacity: 0.5;
            transition: opacity 0.2s ease;
        }

        &:hover .realm-name i.fa {
            opacity: 1;
        }

        .header-realm-icon {
            width: 26px;
            height: 26px;
            vertical-align: top;
            border-radius: 4px;
        }
    }
}

.portico-content-wrapper {
    padding: 102px 0 58px;

    background: linear-gradient(
        180deg,
        var(--color-background-gradient-start) 0%,
        var(--color-background-gradient-end) 100%
    );

    @media (prefers-color-scheme: dark) {
        --color-background-box: hsl(221deg 35% 89%);

        background: linear-gradient(
            180deg,
            var(--color-background-gradient-start) 30%,
            var(--color-background-gradient-end) 100%
        );
    }
}
